/********* general *********/

#root {
  background-image: url("../public/background.png");
  background-attachment: fixed;
}

h2 {
  margin-top: 0px;
}

/********* Header *********/
header {
  backdrop-filter: hue-rotate(120deg) blur(1px);
  position: fixed;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 5px;
  align-items: center;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
}

.shoppingCart {
  height: 30px;
  flex-shrink: 2;
}

.shoppingCartContainer {
  display: flex;
  cursor: pointer;
  align-items: center;
  position: relative;
  order: -1;
  height: 30px;
}

.search,
.dropdown {
  flex-grow: 1;
}

input {
  width: 90%;
}

.dropdown {
  order: 2;
  text-align: right;
}

input,
select {
  background-color: #fce4da;
  padding: 5px 10px;
  border-radius: 5px;
}

.dropdown label {
  font-weight: bold;
}

option {
  padding: 5px;
}
/********* Shopping Card Content *********/
.shoppingCartContentContainer {
  padding-top: 110px;
  min-height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.shoppingCartContent {
  background-color: white;
  width: fit-content;
  border: #76aea3 3px solid;
  padding: 10px;
  min-width: 300px;
  max-width: 1000px;
  margin: 0px 20px;
  border-radius: 10px;
}

.emptyMessage {
  background-color: white;
  max-width: 440px;
  padding: 20px;
  border: #76aea3 2px solid;
  margin: 0px 20px;
  border-radius: 10px;
}

.emptyMessage p {
  text-align: center;
}

.containerEmptyMessage {
  padding-top: 100px;
  min-height: calc(100vh - 100px);
}

.shoppingCartItem {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-bottom: black 1px dashed;
}

.delete {
  height: 15px;
  display: block;
  align-self: center;
  flex-shrink: 2;
  padding: 5px;
  border-radius: 10px;
}

.delete:hover {
  background-color: #fed1bc;
}

.shoppingCartItemTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  flex-grow: 2;
}

.total,
.description {
  font-weight: bold;
}

.shoppingCartContent .description p {
  margin-top: 0px;
}

.descriptionPrice,
.totalPrice {
  margin-right: 40px;
}

.quantity {
  display: flex;
  align-items: center;
}

.controlsQuantity {
  height: 20px;
}

.controlsQuantity:hover {
  cursor: pointer;
}

/********* Product Card *********/
.arrow {
  display: inline-block;
  font-size: 10px;
  padding-bottom: 2px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  min-height: calc(100vh - 100px);
  width: 100%;
}

.productCard {
  border: #76aea3 3px solid;
  margin: 10px;
  padding: 20px;
  max-width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

img {
  max-width: 150px;
  max-height: 150px;
  display: block;
}

.imgContainer {
  width: 150px;
  height: 150px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleContainer {
  height: 160px;
  margin-bottom: 10px;
}

h2 {
  max-height: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.view {
  display: block;
  animation-name: slideIn;
  animation-duration: 0.5s;
  margin-top: 0px;
}

.description {
  cursor: pointer;
  margin-bottom: 0px;
}

@keyframes slideIn {
  0% {
    transform: translateY(-5px);
    opacity: 0.5;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.noview {
  display: none;
}

/********* Controls *********/
.quantity {
  display: flex;
  gap: 2px;
}

.quantity p {
  margin: 0px;
}

.controlsProduct {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.btn {
  width: 100%;
  flex-grow: 1;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: 700;
  cursor: pointer;
}

.deleteBtn {
  border: #fed1bc solid 2px;
  background-color: #fed1bc;
  transition: background-color 0.5s;
}

.addBtn {
  background-color: #76aea3;
  border: #76aea3 solid 2px;
  transition: background-color 0.5s;
}

.addBtn:hover,
.deleteBtn:hover {
  background-color: #76aea37a;
  transition: background-color 0.5s;
}

.deleteBtn:hover {
  background-color: #fed1bc4f;
  transition: background-color 0.5s;
}

/********* Media Query *********/
@media (min-width: 294px) {
  .shoppingCartContentContainer,
  .containerEmptyMessage {
    padding-top: 110px;
    min-height: calc(100vh - 110px);
  }

  .products {
    padding-top: 100px;
    min-height: calc(100vh - 100px);
  }

  .shoppingCartContainer {
    order: 0;
    height: auto;
  }

  .header {
    justify-content: space-between;
  }

  input {
    width: 80%;
  }
}

@media (min-width: 500px) {
  .shoppingCartContentContainer,
  .containerEmptyMessage {
    padding-top: 80px;
    min-height: calc(100vh - 80px);
  }

  .emptyMessage {
    margin: 5px auto;
  }

  .products {
    padding-top: 80px;
    min-height: calc(100vh - 90px);
  }

  .shoppingCartContainer {
    order: 2;
  }

  .dropdown {
    text-align: center;
  }

  .header {
    max-width: 850px;
    margin: 0px auto;
  }

  header {
    width: 100%;
  }
}
